html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

.forecast-spinner {
  position: relative;
  left: 46%;
  margin-top: 15%
}

.table {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.table-text {
  font-family: Montserrat, 'Helvetica Neue', 'Helvetica Neue Regular', Helvetica Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #999;
}

.background-gray-darker {
  background-color: #e7e7e7;
}

.background-gray-lighter {
  background-color: #f6f6f6;
}

.table-full-row {
  font-family: Montserrat, 'Helvetica Neue', 'Helvetica Neue Regular', Helvetica Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

.timestamp-am-pm {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

h6 small {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  font-family: Montserrat, 'Helvetica Neue', 'Helvetica Neue Regular', Helvetica Regular, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.fill-columns {
  background-color: white;
}

.td-timestamp {
  text-transform: lowercase;
  white-space: nowrap;
  color: #5a6167;
}

.td-timestamp-noon {
  color: black;
  font-weight: bold;
}

.margin-top-tbody {
  height: 50px;
}

.title {
  margin-top: 30px;
  margin-left: 10vw;
}

.gridClip {
  width: 100%;
  height: 100%;
}

.highlightClipHeader {
  margin-top: 20px;
}