body {
    overflow-x: hidden;
}

.homeHeader {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: calc(110px / 1.34);
    margin-bottom: calc(78px / 1.34);
}

.logo {
    width: calc(409px / 1.34);
    height: calc(40px / 1.34);
    margin-bottom: 0;
}

.headerBreak {
    background: #DFDFDF;
}

.nav {
    list-style-type: none;

    height: calc(37px / 1.34);
    margin-left: 0;
    margin-top: calc(44px / 1.34);

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / 1.34);
    line-height: calc(22px / 1.34);
}

.latest {
    display: inline;
    width: calc(46px / 1.34);
    height: calc(22px / 1.34);
}

.latest:hover {
    padding-bottom: 27px;
    text-decoration: none;
    border-bottom: 2px solid #314EE6;
}

.about {
    display: inline;
    width: calc(45px / 1.34);
    height: calc(22px / 1.34);
    margin-left: calc(64px / 1.34);
}

.about:hover {
    padding-bottom: 27px;
    text-decoration: none;
    border-bottom: 2px solid #314EE6;
}

.download {
    display: inline;
    width: calc(109px / 1.34);
    height: calc(22px / 1.34);
    margin-left: calc(64px / 1.34);
}

.download:hover {
    padding-bottom: 27px;
    text-decoration: none;
    border-bottom: 2px solid #314EE6;
}

.navBreak {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;

    background: #DFDFDF;
}

.navContainer {
    width: 62%;
    margin-left: 19%;
    margin-right: 19%;
}

.sectionContainer {
    max-width: 62%;
    padding-top: calc(120px / 1.34);
    padding-bottom: calc(100px / 1.34);
}

.grid-col {
    padding: 0 !important;
}

.index {
    top: 0;
    position: absolute;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(12px / 1.34);
    line-height: calc(22px / 1.34);
    letter-spacing: calc(3px / 1.34);

    transform: rotate(-90deg);
    color: #121212;
}

.previewImage {
    max-width: calc(555px / 1.34);
    margin-right: 7.2%;
    height: auto;
}

.title {
    width: calc(334px / 1.34);
    height: calc(49px / 1.34);
    margin-top: 10%;
    margin-left: 12.5%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: calc(24px / 1.34);
    line-height: calc(31px / 1.34);

    color: #121212;
}

.description {
    width: calc(451px / 1.34);
    height: calc(35px / 1.34);
    margin-top: 6%;
    margin-left: 12.5%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);

    color: #3D3D3D;
}

.ellipse {
    display: inline-block;
    width: calc(4px / 1.34);
    height: calc(4px / 1.34);
    margin-bottom: 1.5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50%;

    background: rgba(61, 61, 61, 0.5);
}

.readInfo {
    width: calc(183px / 1.34);
    height: calc(24px / 1.34);
    margin-left: 12.5%;
    margin-top: 10%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);

    color: rgba(61, 61, 61, 0.5);
}

.indexBreak {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 24.2%;

    background: #3D3D3D;
}

/* #### Desktop that shrinks past description text #### */
@media only screen and (max-width: 767px) {

    .previewImage {
        margin-left: 12.8%;
    }

    .indexBreak {
        margin-left: 27%;
    }

    .index {
        all: unset;
        position: relative;
        top: 83%;

        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: bold;
        font-size: calc(12px / 1.34);
        line-height: calc(22px / 1.34);
        letter-spacing: calc(3px / 1.34);

        writing-mode: vertical-rl;
        transform:scale(-1);
        color: #121212;
    }
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 640px) and (orientation: portrait){

    .navBreak {
        margin-bottom: 8%;
    }

    .sectionContainer {
        all: unset;
    }

    .previewImage {
        width: 100%;
        margin-left: 17%;
    }

    .index {
        all: unset;
        position: relative;
        left: 9%;
        top: 90%;

        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;

        writing-mode: vertical-rl;
        transform:scale(-1);
        color: #121212;
    }

    .title {
        width: auto;
        height: auto;
        margin-left: 17%;
        margin-right: 17%;
        margin-top: 8.6%;

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;

        -webkit-text-fill-color: #121212;
    }

    .description {
        width: auto;
        height: auto;
        margin-left: 17%;
        margin-top: 4.8%;
        margin-right: 8.6%;

        font-weight: normal;
        font-size: calc(16px * 1.15);
        line-height: calc(24px * 1.15);

        -webkit-text-fill-color: #3D3D3D;
    }

    .ellipse {
        width: 4px;
        height: 4px;
    }

    .readInfo {
        width: 180px;
        height: 12px;
        margin-left: 17%;

        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        -webkit-text-fill-color: rgba(61, 61, 61, 0.5);;
    }

    .indexBreak {
        margin-left: 14.7%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    body {
        overflow-x: hidden;
    }
}

.homeHeaderMobile {
    position: relative;
    margin-top: calc(75px * 1.15);
    margin-left: calc(24px * 1.15);
    margin-right: calc(24px * 1.15);
}

.logoMobile {
    width: calc(94px * 1.15);
    height: calc(24px * 1.15);
}

.accessLabs {
    width: calc(100px * 1.15);
    height: calc(35px * 1.15);
    float: right;
}

.headerBreakMobile {
    margin-top: 3.5%;
    margin-bottom: 0;
}

.latestMobile {
    display: inline;
    width: calc(46px * 1.15);
    height: calc(22px * 1.15);
}

.aboutMobile {
    display: inline;
    width: calc(45px * 1.15);
    height: calc(22px * 1.15);
    margin-left: calc(48px * 1.15);
}

.navMobile {
    list-style-type: none;

    margin-left: calc(24px * 1.15);
    margin-top: calc(35px * 1.15);

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: calc(16px * 1.15);
    line-height: calc(22px * 1.15);
}

.postContainer {
    max-width: 47.5%;
    position: relative;
    right: 7.5%;
    margin-top: calc(100px / 1.34);
}

.postTitle {
    max-width: calc(708px / 1.34);
    margin-left: 14.5%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(32px / 1.34);
    line-height: 30px;

    color: #121212;
}

.postBody {
    width: calc(680px / 1.3);
    height: auto;
    margin-left: 14.5%;
    margin-top: 3.3%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.3);
    line-height: calc(28px / 1.3);

    color: #121212;
}

.getAccess {
    width: calc(120px / 1.34);
    height: calc(169px / 1.34);
    margin-top: 44%;
}

.getAccessTitle {
    width: calc(120px / 1.34);
    height: calc(18px / 1.34);

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px / 1.3);
    line-height: calc(24px / 1.3);

    color: #121212;
}

.getAccessDescription {
    width: calc(120px / 1.34);
    height: auto;
    margin-top: 15%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.3);
    line-height: calc(24px / 1.3);

    color: #505050;
}

.getAccessButton {
    margin-top: 24%;
}

.postBreak {
    width: 90vw;
    margin-top: 75px;
    margin-bottom: 60px;
    position: relative;
    right: 200px;

    background: #3D3D3D;
}

@media only screen and (max-width: 991px) {
    .postBreak {
        width: 120vw;
        right: 190px;
    }
}

.aboutContainer {
    max-width: 510px;
    margin-bottom: 3%;
    position: relative;
    left: 6px;
}

.aboutAuthorTitle {
    margin-bottom: 20px;
    flex-shrink: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);

    color: #121212;
}

.twitterHandle {
    position: relative;
    top: 17px;
    right: 166px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px / 1.34);
    line-height: calc(24px / 1.34);

    text-decoration: none !important;
    color: rgba(61, 61, 61, 0.5);
}

.twitterButton {
    width: calc(100px / 1.34);
    height: calc(35px / 1.34);
    min-width: calc(100px / 1.34);
    min-height: calc(35px / 1.34);
    margin-left: 200%;
}

@media only screen and (max-width: 839px) {
    .twitterButton {
        margin-left: 0;
        margin-bottom: 60px;
        position: relative;
        top: 50px;
        right: 233px;
    }
}

/* #### Adjust blog post for smaller screens #### */
@media only screen and (max-width: 991px) {

    .postContainer {
        position: relative;
        left: 6.5%;
        max-width: 75%;
    }

    .postTitle {
        margin-left: unset;
    }

    .postBody {
        margin-left: unset;
        max-width: 100%;
    }
}

.footerContainer {
    width: 100%;
    min-height: 383px;
    margin-top: 8.7%;

    background: #121212;
}

.surflineLogoFooter {
    width: calc(116px / 1.34);
    height: calc(20px / 1.34);
    margin-left: 56.6%;
    margin-top: 18%;
}

.termsAndPrivacyFooter {
    max-width: 210px;
    max-height: calc(51.9px / 1.34);
    margin-left: 56.6%;
    margin-top: 4%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(26px / 1.34);

    color: #FFFFFF;
}

.goHomeFooter {
    width: calc(164px / 1.3);
    height: calc(11.98px / 1.3);
    margin-top: 24%;
    margin-left: 32%;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);
    letter-spacing: 0.2em;

    color: #FFFFFF;
}

.footerList {
    min-width: calc(81px / 1.34);
    height: calc(127.74px / 1.34);
    margin-top: 8%;
    margin-left: 32%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: 12px;

    list-style-type: none;
    color: #FFFFFF;
}

.signUpFooter {
    margin-left: 4%;
    margin-top: 14.5%;

    list-style-type: none;
    color: #FFFFFF;
}

.signUpTitleFooter {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.enterEmailFooter {
    max-width: calc(363px / 1.3);
    border: none;
    outline: none;
    width: 43ch;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(11px / 1.34);

    color: rgba(255, 255, 255, 0.5);
    background: #121212;
}

form.submitFooterForm input[type='submit'] {
    display: none;
}

.submitFooterForm {
    margin: 0;
    height: 30px;
}

.submitEmailButton {
    width: 17px;
    height: 13px;
    background-color: transparent;
    background-image: url('images/logos/submit_arrow.svg');
    border: none;
    margin-left: 3%;
    background-repeat: no-repeat;
}

.submitEmailButton:focus {
    outline: none;
}

.emailBreak {
    width: calc(363px / 1.34);
    margin-top: 0;

    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.firstToKnowFooter {
    width: calc(348px / 1.34);
    height: calc(39.92px / 1.34);
    margin-top: 4%;
    margin-bottom: 2%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(20px / 1.34);

    color: #FFFFFF;
}

/* #### Resize desktop to md #### */
@media only screen and (max-width: 767px) {

    /* #### FOOTER #### */
    .surflineLogoFooter {
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        margin-bottom: 13px;
    }

    .termsAndPrivacyFooter {
        max-width: 210px;
        max-height: calc(51.9px * 1.15);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 0;
    }

    .goHomeFooter {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .footerList {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.5%;
    }

    .signUpFooter {
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .firstToKnowFooter {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        width: 200px;
    }

    .enterEmailFooter {
        padding: 0;
        max-width: unset;
        margin-left: auto;
        margin-right: auto;
        width: 26ch;
    }

    input[type=email].enterEmailFooter {
        padding-left: 7px;
    }

    .submitEmailButton {
        margin-left: 0;
    }

    .emailBreak {
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px !important;
        width: 220px;
    }

    .submitFooterForm {
        margin: 0;
        height: 25px;
    }

    .requestAccessNotification {
        bottom: 215px !important;
    }
}

/* #### Resize desktop to lg #### */
@media only screen and (max-width: 991px) {
    /* #### REQUEST ACCESS #### */
    .wantThis {
        margin-top: 5% !important;
    }

    .beachForm {
        margin-top: 4% !important;
    }

    .invisible {
        margin-top: 0 !important;
    }

    .emailForm {
        margin-top: 2% !important;
    }

    .wantThis, .formWrapper {
        margin-left: 20vw;
    }

    .requestAccessNotification {
        bottom: 215px !important;
    }
}

.hidden {
    display: none;
}

.centerFooterList {
    margin-top: 10%;
}

.annotatedTrestles {
    margin-top: 10%;
    margin-bottom: 5%;
}

.caption {
    position: relative;
    width: 62.2vw !important;
    right: 13.7vw;
    min-height: calc(48px / 1.34);
    margin-bottom: 2.6%;
    padding-left: 150px !important;
    padding-right: 150px !important;

    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(28px / 1.34);
}

.requestAccessContainer {
    width: 100vw !important;
    height: calc(290px / 1.34);
    margin-top: 10%;
    margin-bottom: 11.5%;

    position: relative;
    right: 13.7vw;

    background: #FBFBFB;
    border-top: calc(1px / 1.34) solid #3D3D3D;;
}

.wantThis {
    margin-top: 20%;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(16px / 1.34);
    line-height: calc(11px / 1.34);
}

.invisible {
    visibility: hidden;
}

input:focus {
    outline:none;
}

.formRmvMrgn {
    margin-bottom: 0;
}

.requestAccessForm {
    padding: 0;
    margin-top: 7.8%;
    border: 0;
    background: none;
    border-bottom: 1px solid #121212;
    padding-bottom: 8px;
    border-radius: 0;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(11px / 1.34);

    color: rgba(61, 61, 61, 0.3);
}

.sendRequestContainer {
    width: 235px;
    height: 40px;
}

.sendRequest {
    margin-top: 10%;
    margin-right: 30px;
    float: right;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: calc(16px / 1.34);
    line-height: calc(11px / 1.34);

    color: #121212;
}

.heatMap {
    margin-top: 8%;
    margin-bottom: 9%;
}

.date {
    margin-bottom: 3.5%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: calc(14px * 1.15);
    line-height: calc(24px * 1.15);

    color: rgba(61, 61, 61, 0.5);
}

/* #### Mobile #### */
@media only screen and (max-device-width: 640px) {
    .homeHeader, .logo, .headerBreak {
        display: none;
    }

    .navContainer, .nav, .latest, .about, .download {
        display: none;
    }

    .postContainer {
        max-width: unset;
        position: relative;
        right: 7.5%;
        margin-top: calc(100px / 1.34);
    }

    .postBody {
        width: calc(327px * 1.15);
        height: auto;
        margin-left: unset;
        margin-top: 6%;

        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: calc(16px * 1.15);
        line-height: calc(28px * 1.15);

        color: #121212;
    }

    .requestAccessContainer {
        width: 110vw !important;
        height: 230px;
    }

    .sendRequestButton {
        bottom: 20px !important;
        margin-left: 248px !important;
    }

    .wantThis {
        margin-top: 35px !important;
    }

    .formWrapper {
        margin-top: 10px;
    }

    .invisible {
        margin-top: 0 !important;
    }

    .sendRequestContainer {
        width: 266px;
    }
    
    .termsAndPrivacyFooter {
        margin-bottom: 12%;
        text-align: center;
    }

    .aboutAuthorTitle, .twitterHandle {
        font-size: 14px;
    }

    .twitterHandle {
        right: 195px;
        margin-top: 2px;
    }

    .twitterButton {
        transform: scale(1.3);
        right: 273px;
        margin-top: 9px;
        margin-bottom: 90px;
    }

    .postBreak {
        width: 85vw;
        margin-left: 40px;
        margin-right: auto;
        right: 40px;
        margin-bottom: 35px;
    }

    .image {
        right: 7vw !important;
        width: 101vw !important;
    }

    .annotatedTrestles {
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .caption {
        right: 6.5vw;
        width: 100vw !important;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .termsAndPrivacyFooter {
        margin-bottom: 3%;
    }

    input[type=email].enterEmailFooter {
        padding-left: 15px;
    }

    .signUpFooter {
        margin-top: 5%;
    }

    .requestAccessNotification {
        width: unset !important;
    }
}

/* #### Desktop #### */
@media only screen and (min-device-width: 640px) {
    .homeHeaderMobile, .logoMobile, .accessLabs, .headerBreakMobile {
        display: none;
    }

    .navContainerMobile, .navMobile, .latestMobile, .aboutMobile {
        display: none;
    }

    .date {
        display: none;
    }
}

/* #### If image component goes past text, get access button active #### */
@media only screen and (min-width: 991px) and (max-width: 1092px) {
    .image, .caption {
        width: 83vw !important;
    }
}

/* #### If image component goes past text, get access button disabled #### */
@media only screen and (max-width: 991px) and (min-device-width: 640px) {
    .image, .caption {
        width: 103vw !important;
        right: 20vw !important;
    }

    .requestAccessContainer {
        right: 19vw;
    }
}

.twitterHandle:hover {
    color: rgba(61, 61, 61, 0.5);
}

.twitterButton:hover {
    color: rgba(61, 61, 61, 0.5);
}

input::placeholder {
    overflow: visible;
    line-height: 1.2;
    padding: 0;
}

.linkStyle, .linkStyle:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.getAccessBtn {
    width: calc(122px / 1.34);
    height: calc(45px / 1.34);
    padding: 0;
    background-color: transparent;
    background-image: url('images/logos/get_access.svg');
    border: none;

    outline: none !important;
}

.getAccessBtn:focus, .getAccessBtn:active {
    outline: 0 !important;
    box-shadow: none !important;
}

.myModal {
    width: calc(680px / 1.34) !important;
    height: calc(680px / 1.34) !important;
    margin-top: 20vh !important;
    background: #FFFFFF;
}

.modalBody {
    width: calc(680px / 1.34) !important;
    height: calc(680px / 1.34) !important;
    padding: 0 !important;
}

.modal-content {
    border: none !important;
}

.surflineLabs {
    text-transform: uppercase;
}

.terms {
    font-weight: bold;
}

.sendRequestButton {
    width: 17px;
    height: 13px;
    margin-left: 92%;
    position: relative;
    bottom: 12px;

    background-color: transparent;
    background-image: url('images/logos/submit_arrow_black.svg');
    background-repeat: no-repeat;
    border: none;
}

.sendRequestButton:focus {
    outline: 0;
}

.image {
    position: relative;
    width: 62.2vw;
    right: 13.7vw;
}

.backgroundModalLogo {
    margin-top: calc(25px / 1.34);
}

.modalTitleText {
    width: calc(380px / 1.34);
    height: calc(49px / 1.34);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 80px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(24px / 1.34);
    line-height: calc(31px / 1.34);
    align-items: center;
    text-align: center;

    color: #121212;
}

.modalBodyText {
    width: calc(380px / 1.34);
    height: calc(59px / 1.34);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 52px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(24px / 1.34);

    align-items: center;
    text-align: center;

    color: #3D3D3D;
}

.getAccessInput {
    padding: 0;
    border: none;
    background: none;
    border-bottom: 2px solid #121212;
    padding-bottom: 8px;
    border-radius: 0;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(16px / 1.34);
    line-height: calc(11px / 1.34);

    color: rgba(61, 61, 61, 0.5);
}

.modalFormEmail {
    text-align: center;
    position: relative;
    bottom: 15px;
}

.modalFormLocation {
    text-align: center;
}

.modalRequestAccess {
    position: relative;
    top: 25px;
    left: 267px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: calc(16px / 1.3);
    line-height: calc(11px / 1.2);

    color: #121212;
}

.modalSubmitFormButton {
    width: 17px;
    height: 13px;
    position: relative;
    top: 7px;
    left: 372px;
    z-index: 1000;

    background-color: transparent;
    background-image: url('images/logos/submit_arrow_black.svg');
    border: none;
}

.modalSubmitFormButton:focus {
    outline: none;
}

.modalFooter {
    width: calc(270px / 1.2);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 48px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: normal;
    font-size: calc(12px / 1.2);
    line-height: calc(14px / 1.1);
    text-align: center;

    color: rgba(61, 61, 61, 0.5);
}

.modalTerms {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(12px / 1.2);
    line-height: calc(14px / 1.2);
    text-align: center;

    color: rgba(61, 61, 61, 0.5);
}

.modalLinkStyle, .modalLinkStyle:hover {
    text-decoration: none;
    color: rgba(61, 61, 61, 0.5);
}

.paginate-horizontal {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(128px / 1.34);
    margin-bottom: calc(200px / 1.34);
}

.paginate-horizontal li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px / 1.34);
    line-height: calc(15px / 1.34);
}

.paginateLink {
    text-decoration: none;
    color: #DFDFDF;
}

.paginateLink:hover {
    text-decoration: none;
    color: black;
}

.paginate-horizontal li:last-child {
    padding-right: 0;
}

.footerNotification {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    text-align: center;
    top: 10px;
}

.requestAccessNotification {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    text-align: center;
    width: 475px;
    top: 7px;
}

.requestAccessNotification:first-child {
    margin: 0;
    padding: 0;
}

.modalNotification {
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    text-align: center;
    width: 500px;
}