/* Reset to border box */
html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}


body {
  background-color: rgb(255, 255, 255);
  font: 1.2em/1.3 Helvetica, Arial, Verdana, sans-serif;
  margin: 1em 3%; 
  
  /* center the page */
    display: flex;  
    justify-content: center;
}

/* set a max width */
.container {
  max-width: 1400px;
}


h1 {
  font-size: 2em;
  line-height: 1;
}
p {
  margin-bottom: .6em;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


.thumbnail-grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
/*.thumbnail-grid li {
  margin-right: 1.33%;
  width: 24%;
}

.thumbnail-grid li:nth-child(4n) {
  margin-right: 0;
}
*/
  
.thumbnail-grid li {
  width: 10%;
}

.thumbnail-grid .description {
  font-size: .7em;
  background-color: white;
  text-align: center;
}

  
/* Style header and footer */
header {
  padding: 2em 0;
}



/* Utility classes */
.alignright {
  float: right;
  margin-left: 1.5em;
}
.alignleft {
  float: left;
  margin-right: 1.5em;
}


/* Content Links */
a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: gray;
  text-decoration: underline;
}
